# Описательные статистики

Итак, среднее — это сумма значений, поделённая на их количество. Допустим, в классе из 7 человек ученики получили следующие оценки: 
4, 5, 3, 4, 2, 5, 5

In [58]:
import numpy as np
from scipy import stats

data = np.array([4, 5, 3, 4, 2, 5, 5])

data.mean()
stats.mode(data).mode[0]

print("Мода на {} бала средней оценки.".format(stats.mode(data).mode[0] - data.mean()))

Мода на 1.0 бала средней оценки.

В таблице выше представлен ряд данных о весе 20 случайно выбранных клиентов медицинской клиники — 10 мужчин и 10 женщин (в кг). Скопируйте датафрейм, который описывают нашу таблицу, в свой ноутбук и выполните задание.

In [59]:
import pandas as pd

df = pd.DataFrame({
    'mens': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

Средний вес мужчины в данной выборке превышает средний вес женщины на ______ кг.

Введите значение, округлив до 1 знака после точки-разделителя.

In [60]:
mens = df['mens'].mean()
womens = df['womens'].mean()

round(mens - womens, 1)

12.5

Дано два набора данных: 2, 7, 4, 3, 6, 4, 1, 2 и 5, 2, 4, 8, 1, 6, 7
Медиана в первом наборе данных равна _____. (введите значение с точкой в качестве разделителя)

In [61]:
first = np.median([2, 7, 4, 3, 6, 4, 1, 2])

second = np.median([5, 2, 4, 8, 1, 6, 7])

"Это на {} меньше медианы во втором наборе данных. (введите значение с точкой в качестве разделителя)".format(second - first)

'Это на 1.5 меньше медианы во втором наборе данных. (введите значение с точкой в качестве разделителя)'

Медианный вес среди мужчин (введите значение с точкой в качестве разделителя):

In [62]:
np.median(df.mens)

75.6

Медианный вес среди женщин (введите значение с точкой в качестве разделителя):

In [63]:
round(np.median(df.womens), 1)

57.6

Для создания общего списка пациентов объедините серии мужчин и женщин в один patients, а затем найдите медиану.

Медианный вес всех пациентов в выборке (введите значение с точкой в качестве разделителя):

In [64]:
patients = []

for i in df.mens.values:
    patients.append(i)
for i in df.womens.values:
    patients.append(i)

    
np.median(patients)

59.6

In [65]:
Возьмём два знакомых нам по третьей задаче набора данных:

2, 7, 4, 3, 6, 4, 1, 2 и 5, 2, 4, 8, 1, 6, 7

Найдите квартили для обоих наборов данных и выберите все верные утверждения из списка ниже:

SyntaxError: invalid syntax (<ipython-input-65-7632427e6cc2>, line 1)

In [ ]:
first = np.array([2, 7, 4, 3, 6, 4, 1, 2 ])
first_quantile_low = np.quantile(first, 0.25)
first_quantile_height = np.quantile(first, 0.75)

print("low:", first_quantile_low, "height:", first_quantile_height)

second = np.array([5, 2, 4, 8, 1, 6, 7 ])
second_quantile_low = np.quantile(second, 0.25)
second_quantile_height = np.quantile(second, 0.75)

print("low:", second_quantile_low, "height:", second_quantile_height)

Найдите Q1 и Q3 для мужчин и женщин, используя Python (выпишите результат, округляя до 1 знака после точки-разделителя)

In [ ]:
df = pd.DataFrame({
    'mens': [80, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [ ]:
mens_q1 = round(df.mens.quantile(0.25, interpolation='midpoint'), 1)
mens_q3 = round(df.mens.quantile(0.75, interpolation='midpoint'), 1)

womens_q1 = round(df.womens.quantile(0.25, interpolation='midpoint'), 1)
womens_q3 = round(df.womens.quantile(0.75, interpolation='midpoint'), 1)


print('q1 mens:', mens_q1, 'q3 mens:', mens_q3)
print('q1 womens:', womens_q1, 'q3 womens:', womens_q3)
      
print(round(mens_q1 - womens_q1, 1))

Найдите размах и межквартильный размах для веса на выборке пациентов клиники.

In [ ]:
    df = pd.DataFrame({
    'mens': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [ ]:
def print_range_and_iqr(df, field_name):
    min = df[field_name].min()
    max = df[field_name].max()
    range = round(abs(min - max), 1)

    q1 = df[field_name].quantile(0.25, interpolation='midpoint')
    q3 = df[field_name].quantile(0.75, interpolation='midpoint')

    iqr = round(abs(q1 - q3), 1)

    print(field_name, "range:", range, field_name, 'IQR', iqr)
    
print_range_and_iqr(df, 'mens')
print_range_and_iqr(df, 'womens')

Вычисляем стандартное отклонение

In [ ]:
def prinе_std_and_dispersion(df, field_name):
    std = df[field_name].std()
    dispersion = df[field_name].var()
    
    print(field_name, 'std:', round(std, 1), field_name, 'dispersion:', round(dispersion, 1))
    
    
prinе_std_and_dispersion(df, 'mens')
prinе_std_and_dispersion(df, 'womens')

Проверьте наличие выбросов в выборке пациентов клиники:

In [ ]:
mens = np.array([80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6])

q1 = np.quantile(mens, 0.25, interpolation='midpoint')
q3 = np.quantile(mens, 0.75, interpolation='midpoint')
iqr = abs(q1 - q3)

display(mens[mens < q1 - 1.5 * iqr])
display(mens[mens > q3 + 1.5 * iqr])

In [ ]:
womens = np.array([57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7])
q1 = np.quantile(womens, 0.25, interpolation='midpoint')
q3 = np.quantile(womens, 0.75, interpolation='midpoint')
iqr = abs(q1 - q3)

display(womens[womens < q1 - 1.5 * iqr])
display(womens[womens > q3 + 1.5 * iqr])

Таблица показывает среднюю температуру в январе (в градусах по Цельсию) в одном российском городе за 2007-2018 годы:

In [ ]:
df = pd.DataFrame({
    'year': [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    'temp': [-4.7, -6.1, -5.5, -3.3, -7.1, -3.1, -5.2, -7.3, -12.1, -6.6, -5.9, -6.3]
})

In [ ]:
mean = df.temp.mean()
median = df.temp.median()
std = df.temp.std()
range = abs(df.temp.max() - df.temp.min())

q1 = df.temp.quantile(0.25, interpolation='midpoint')
q3 = df.temp.quantile(0.75, interpolation='midpoint')
iqr = abs(q1 - q3)


print("mean:", round(mean, 1))
print("median:", round(median, 1))
print("std:", round(std, 1))
print("range:", round(range, 1))
print("iqr:", round(iqr, 1))

display(df[df.temp < q1 - 1.5 * iqr])
display(df[df.temp > q3 + 1.5 * iqr])

Разберемся с тем, как построить графики в python.

Предположим, у нас есть данные о расходах на мобильную связь 20 пользователей в городе А и 20 пользователей в городе Б.

In [ ]:
df = pd.DataFrame({
    'city_a': [240, 440, 455, 475, 475, 490, 490, 500, 500, 500, 530, 550, 578, 580, 620, 687, 694, 703, 859],
    'city_b': [500, 564, 590, 600, 600, 600, 645, 650, 660, 667, 689, 692, 700, 700, 705, 735, 760, 764, 805]
})

boxplot = df.boxplot(column=['city_a', 'city_b'])
hist = df.hist(column=['city_a', 'city_b'])

В Python постройте boxplot на предложенном в предыдущей задаче наборе данных. Найдите на графике отображение медианы. Чему она равна?

In [ ]:
data = pd.DataFrame({
  'value': [48, 44, 42.5, 40.5, 40.5, 39, 39, 38, 38, 38, 35, 33, 30.2, 30, 26, 19.3, 27, 21]
})
print(data.median(axis=0))
data.boxplot()

В таблице ниже приведены данные о двух группах пользователей определенного сервиса–помощника в администрировании. Данные соответствуют общему количество времени, которое пользователи провели онлайн, используя соответствующее приложение (в часах за месяц).

In [ ]:
df = pd.DataFrame({
    'group_a': [72, 66, 63.75, 60.75, 60.75, 58.5, 58.5, 57, 57, 57, 52.5, 49.5, 45.3, 45, 39, 28.95, 40.5, 31.5, 49],
    'group_b': [71, 72, 60, 50, 57, 77, 81, 58, 62, 61, 73, 74, 76, 65, 66, 67, 67, 67, 69]
})

In [ ]:
df.boxplot(column = ['group_a', 'group_b'])

In [70]:
x = [1, 2, 3, 4, 5, 6, 7, 8]
p = [0.05, 0.1, 0.3, 0.25, 0.15, 0.07, 0.05, 0.03]

e_x = 0

for i in range(len(x)):
    e_x += x[i] * p[i]

print(e_x)

TypeError: 'float' object is not callable