In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
print(data[(data.budget == data.budget.max())].original_title.iloc[0])
answer_ls.append(4)

The Warrior's Way

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
print(data[data.runtime.max() == data.runtime].original_title.iloc[0])
answer_ls.append(2)

Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
print(data[data.runtime.min() == data.runtime].original_title.iloc[0])
answer_ls.append(3)

Winnie the Pooh

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
print(round(data.runtime.mean()))
answer_ls.append(2)

110

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
print(round(data.runtime.median()))
answer_ls.append(1)

106

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
def find_profit(id):
    row = data[data.imdb_id == id]
    return int(row.revenue) - int(row.budget)

data['profit'] = data.imdb_id.apply(find_profit)
print(data[data.profit == data.profit.max()].original_title.iloc[0])

answer_ls.append(5)

Avatar

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
print(data[data.profit == data.profit.min()].original_title.iloc[0])

answer_ls.append(2)

The Warrior's Way

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
len(data[data.profit > 0])
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
mov_2008 = data.query('release_year == 2008')
print(mov_2008[mov_2008.profit.max() == mov_2008.profit].original_title.iloc[0])
answer_ls.append(4)

The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
mov_2012_2014 = data.query('release_year >= 2012 and release_year <= 2014')
print(mov_2012_2014[mov_2012_2014.profit == mov_2012_2014.profit.min()].original_title.iloc[0])
answer_ls.append(5)

The Lone Ranger

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
print(data.groupby(['genres'])['imdb_id'].count().sort_values(ascending=False).head(1).reset_index()['genres'].iloc[0])
answer_ls.append(4)

Comedy

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
# data[data.profit > 0].groupby('genres')['imdb_id'].count().sort_values(ascending=False).head(1).reset_index()['genres'].iloc[0]

#answer_ls.append(1)
df = pd.read_csv('data.csv')
s=[]
df['genres'] = df.genres.apply(lambda x: x.split('|'))
for i in df['genres']:
    for j in i:
        s.append(j)
        
dt = pd.DataFrame(s, columns = ['Genre'])
dt = dt['Genre'].value_counts()

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
Name: Genre, dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
data.groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head(1).reset_index()['director'].iloc[0]
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
print(data[data.profit > 0].groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head(5).reset_index()['director'].iloc[0])

# answer_ls.append(4)

Ridley Scott

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
print(data.groupby(['director'])['profit'].sum().sort_values(ascending=False).head(5).reset_index()['director'].iloc[0])
answer_ls.append(5)

Peter Jackson

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:

def getProfitByActors(data):
    actors_dict = {}
    for i in data[['cast', 'profit']].iloc():
        actors = i['cast'].split('|')
        for j in actors:
            if j in actors_dict:
                actors_dict[j] = int(actors_dict[j]) + int(i['profit'])
            else:
                actors_dict[j] = int(i['profit'])
    return actors_dict

actors_data = pd.DataFrame.from_dict(getProfitByActors(data), orient='index').reset_index()
actors_data.columns = ['name', 'profit']

print(actors_data.sort_values(by='profit', ascending=False).iloc[0]['name'])
answer_ls.append(1)

Emma Watson

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
profit_in_2012 = data.query('release_year == 2012')
actors_data = pd.DataFrame.from_dict(getProfitByActors(profit_in_2012), orient='index').reset_index()
actors_data.columns = ['name', 'profit']

print(actors_data.sort_values(by='profit').iloc[0]['name'])

answer_ls.append(3)

Kirsten Dunst

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
hight_budget = data[data.budget.mean() < data.budget]
            
def countBySome(what, groupby):
    result = {}
    for i in what[[groupby]].iloc():
        temp = i.iloc[0].split('|')
        for j in temp:
            if j not in result:
                result[j] = 1
            else:
                result[j] += 1
    return result
    
    
actor_counter_df = pd.DataFrame.from_dict(countBySome(hight_budget, 'cast'), orient='index').reset_index()
actor_counter_df.columns = ['name', 'total']
print(actor_counter_df.sort_values(by='total', ascending=False).head(5).iloc[0]['name'])

# answer_ls.append(3)

Matt Damon

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
nicolas_cage_mov = data[data.cast.str.match("Nicolas Cage", na=False)]

nicolas_cage_mov_genres = pd.DataFrame.from_dict(countBySome(nicolas_cage_mov, 'genres'), orient='index').reset_index()
nicolas_cage_mov_genres.columns = ['genre', 'total']
print(nicolas_cage_mov_genres.sort_values(by='total', ascending=False).head().iloc[0]['genre'])

answer_ls.append(2)

Action

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
production_companies = pd.DataFrame.from_dict(countBySome(data, 'production_companies'), orient='index').reset_index()
production_companies.columns = ['name', 'total']
print(production_companies.sort_values(by='total', ascending=False).head().iloc[0]['name'])

answer_ls.append(2)

Universal Pictures

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
mov_2015 = data.query('release_year == 2015')

production_companies= pd.DataFrame.from_dict(countBySome(mov_2015, 'production_companies'), orient='index').reset_index()
production_companies.columns = ['name', 'total']
print(production_companies.sort_values(by='total', ascending=False).head().iloc[0]['name'])

answer_ls.append(4)

Warner Bros.

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
comedy = data[data.genres.str.match("Comedy", na=False)][['production_companies', 'genres', 'profit']]

result = {}

for i in comedy.iloc():
    production_companies = i['production_companies'].split('|')
    for j in production_companies:
            if j in result:
                result[j] += i['profit']
            else:
                result[j] = i['profit']

production_companies_comedy_profit = pd.DataFrame.from_dict(result, orient='index').reset_index()
production_companies_comedy_profit.columns = ['production_companie', 'profit']
print(production_companies_comedy_profit.sort_values(by='profit', ascending=False).head().iloc[0]['production_companie'])

answer_ls.append(2)

Universal Pictures

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
mov_2012 = data.query('release_year == 2012')

result = {}

for i in comedy.iloc():
    mov_2012 = i['production_companies'].split('|')
    for j in mov_2012:
            if j in result:
                result[j] += i['profit']
            else:
                result[j] = i['profit']

mov_2012 = pd.DataFrame.from_dict(result, orient='index').reset_index()
mov_2012.columns = ['production_companie', 'profit']
print(production_companies_comedy_profit.sort_values(by='profit', ascending=False).head().iloc[0]['production_companie'])

answer_ls.append(1)

Universal Pictures

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
paramount_pictures_mov = data[data.production_companies.str.match("Paramount Pictures", na=False)]

print(paramount_pictures_mov[paramount_pictures_mov.profit == paramount_pictures_mov.profit.min()]['original_title'].iloc()[0])
answer_ls.append(1)

K-19: The Widowmaker

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
print(data.groupby(['release_year']).sum()['profit'].reset_index().sort_values(by='profit', ascending=False).head().iloc[0]['release_year'])

answer_ls.append(5)

2015

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [57]:
warner_bros_mov = data[data.production_companies.str.match("Warner Bros.", na=False)]

# warner_bros_mov = data[data.production_companies == "Warner Bros."]

result = {}

for i in warner_bros_mov.iloc():
    production_companies = i['production_companies'].split("|")
    for j in production_companies:
        
        if "Warner Bros." not in production_companies:
            continue
        
        if "Warner Bros. Interactive Entertainment" in production_companies:
            continue
            
#         print(production_companies)
        
        if i['release_year'] in result:
            result[i['release_year']] += i['profit']
        else:
             result[i['release_year']] = i['profit']
                
warner_bros_mov_by_year = pd.DataFrame().from_dict(result, orient='index').reset_index()

warner_bros_mov_by_year.columns = ['year', 'total_profit']
warner_bros_mov_by_year.sort_values(by='total_profit', ascending=False).head()

warner_bros_mov.groupby(['release_year']).sum()['profit'].reset_index().sort_values(by='profit', ascending=False)

#answer_ls.append(1)

    release_year      profit
9           2011  1301404416
8           2010   693428672
7           2009   672931705
10          2013   666412918
6           2007   273494528
0           2000   187082955
12          2015   105264781
11          2014    -2514873
4           2005    -9775758
5           2006   -20903963
2           2002   -32452352
3           2004   -43191450
1           2001   -84629185

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
data[['imdb_id', 'release_date']]

data['month'] = data.release_date.apply(lambda x: x.split("/")[0])

month_group = data.groupby('month').count()['imdb_id'].reset_index()
month_group.columns = ['month', 'total']
print(month_group.sort_values(by = 'total', ascending=False).iloc()[0]['month'])

answer_ls.append(4)

9

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
print(len(data[data.month.isin(['6', '7', '8'])]))
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:

winter_mov_by_director = data[data.month.isin(['12', '1', '2'])].groupby('director').count()['imdb_id'].reset_index()
winter_mov_by_director.columns = ['director', 'total']
print(winter_mov_by_director.sort_values(by = 'total', ascending=False).iloc()[0]['director'])

answer_ls.append(5)

Peter Jackson

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
print(data.groupby('month').mean()['profit'].reset_index().sort_values(by = 'profit', ascending=False).iloc()[0]['month'])

answer_ls.append(2)

6

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
result = {}

for i in data.iloc():
    production_companies = i['production_companies'].split("|")
    for j in production_companies:
        if j in result:
            result[j].append(len(i['original_title']))
        else:
            result[j] = [len(i['original_title'])]
            
result = dict(map(lambda item: (item[0], np.mean(item[1])), result.items()))
avg_title_by_company = pd.DataFrame().from_dict(result, orient='index').reset_index()
avg_title_by_company.columns = ['production_companie', 'avg_title_lengh']
avg_title_by_company.sort_values(by = 'avg_title_lengh', ascending=False).iloc()[0]['production_companie']

answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
result = {}

for i in data.iloc():
    production_companies = i['production_companies'].split("|")
    for j in production_companies:
        if j in result:
            result[j].append(len(i['original_title'].split(" ")))
        else:
            result[j] = [len(i['original_title'].split(" "))]


result = dict(map(lambda item: (item[0], np.mean(item[1])), result.items()))

avg_title_by_company = pd.DataFrame().from_dict(result, orient='index').reset_index()
avg_title_by_company.columns = ['production_companie', 'avg_title_lengh']
avg_title_by_company.sort_values(by = 'avg_title_lengh', ascending=False).iloc()[0]['production_companie']
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [37]:
result = set()
for i in data.iloc():
    for j in i['original_title'].split(" "):
        if j == '':
            continue
        result.add(j.lower())
    
print(len(result))
answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [125]:
print(data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']][['original_title']])
answer_ls.append(1)

                                     original_title
9                                        Inside Out
34                                             Room
118                                    Interstellar
119                         Guardians of the Galaxy
125                              The Imitation Game
128                                       Gone Girl
138                        The Grand Budapest Hotel
370                                       Inception
600                                 The Dark Knight
873                                     The Pianist
1082  The Lord of the Rings: The Return of the King
1184                        The Wolf of Wall Street
1192                               12 Years a Slave
1801                                        Memento

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [77]:

JD_HBC = ["Johnny Depp", "Helena Bonham Carter"]
HJ_IMc = ["Hugh Jackman", "Ian McKellen"]
VD_PW  = ["Vin Diesel", "Paul Walker"]
AS_KJ  = ["Adam Sandler",  "Kevin James"]
DR_RG  = ["Daniel Radcliffe", "Rupert Grint"]

filtered_data = data[data.cast.str.match(JD_HBC[0], na=False) | data.cast.str.match(JD_HBC[1], na=False)
     | data.cast.str.match(HJ_IMc[0], na=False) | data.cast.str.match(HJ_IMc[1], na=False)
     | data.cast.str.match(VD_PW[0], na=False) | data.cast.str.match(VD_PW[1], na=False)
     | data.cast.str.match(AS_KJ[0], na=False) | data.cast.str.match(AS_KJ[1], na=False)
     | data.cast.str.match(DR_RG[0], na=False) | data.cast.str.match(DR_RG[1], na=False)
    ]

result = {
    "Johnny Depp & Helena Bonham Carter": 0,
    "Hugh Jackman & Ian McKellen": 0,
    "Vin Diesel & Paul Walker": 0,
    "Adam Sandler & Kevin James": 0,
    "Daniel Radcliffe & Rupert Grint": 0
}

for i in filtered_data.iloc():
    cast = i['cast'].split("|")
    
    if JD_HBC[0] in cast and JD_HBC[1] in cast:
        result["Johnny Depp & Helena Bonham Carter"] += 1
    if HJ_IMc[0] in cast and HJ_IMc[1] in cast: 
        result["Hugh Jackman & Ian McKellen"] += 1
    if VD_PW[0] in cast and VD_PW[1] in cast: 
        result["Vin Diesel & Paul Walker"] += 1
    if AS_KJ[0] in cast and AS_KJ[1] in cast: 
        result["Adam Sandler & Kevin James"] += 1
    if DR_RG[0] in cast and DR_RG[1] in cast:
        result["Daniel Radcliffe & Rupert Grint"] += 1



result = pd.DataFrame().from_dict(result, orient='index').reset_index()
result.columns = ['pair', 'count']
print(result.sort_values(by = 'count', ascending=False).iloc()[0]['pair'])

answer_ls.append(5)

Daniel Radcliffe & Rupert Grint

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [123]:
def add_info(row, total, profit, lose):
    if row['profit'] > 0:
        total += 1
        profit += 1
    else:
        total += 1
        lose += 1
    return {'total': total, 'profit': profit, 'lose': lose}
    
result = {}

for i in data.iloc():
    
    director = i['director']
    
    if director in result:
        result[director] = add_info(i, result[director]['total'], result[director]['profit'], result[director]['lose'])
    else:
        result[director] = add_info(i, 0, 0, 0)
        
result = pd.DataFrame().from_dict(result, orient='index').reset_index()
result.columns = ['director', 'total', 'profit', 'lose']


def find_success(director):
    total = result[result.director == director]['total']
    profit = result[result.director == director]['profit']
    return (int(profit) / int(total)) * 100
    
result['success'] = result.director.apply(find_success)
result = result[result.director.isin(['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood'])]
print(result.sort_values(by = ['success', 'total'], ascending=False).iloc()[0]['director'])

answer_ls.append(4)

Christopher Nolan

# Submission

In [41]:
len(answer_ls)

31

In [42]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       4
11  12       3
12  13       5
13  14       1
14  15       3
15  16       2
16  17       2
17  18       4
18  19       2
19  20       1
20  21       1
21  22       5
22  23       4
23  24       2
24  25       5
25  26       5
26  27       5
27  28       3
28  29       1
29  30       1
30  31       1