# Объединение таблиц

Скачайте файлы ratings.csv и movies.csv из предыдущего шага. Давайте повторим основные методы получения информации о датасете, которые мы изучали в модуле 1 "Общее знакомство с библиотекой Pandas".

Сколько строк в файле рейтингов, не считая строки заголовка (подсказка: количество непустых значений соответствует количеству строк)?

In [10]:
import pandas as pd

ratings_data_len = len(pd.read_csv('ratings.csv').index)
movies_data_len = len(pd.read_csv('movies.csv').index)

print(ratings_data_len + movies_data_len)
print(ratings_data_len)
print(movies_data_len)

110578
100836
9742

Какое количество жанров имеют фильмы в датасете movies?

In [6]:
mov_dt = pd.read_csv('movies.csv')
display(mov_dt)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

Какое минимальное значение принимает выставленная оценка в датасете ratings?

In [8]:
rat_dt = pd.read_csv('ratings.csv')
rat_dt['rating'].min()

0.5

Какое максимальное значение принимает выставленная оценка в датасете ratings?

In [9]:
rat_dt['rating'].max()

5.0

## Объединяем таблицы

In [12]:
rat_dt.merge(mov_dt, on = 'movieId', how = 'left')

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,1494273047,Get Out (2017),Horror
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

### Трудности объединения датафреймов

In [15]:
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [14]:
movies = pd.read_csv('movies_example.txt', sep = '\t')
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [16]:
ratings.merge(movies, how = 'left', on = 'movieId')

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama
1       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

Удаляем дубликаты

In [17]:
movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller

In [18]:
ratings.merge(movies, how = 'left', on = 'movieId')

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

В этой серии заданий мы разберемся с данными новых поступлений интернет-магазина. В словаре items_dict (который мы переведем в датафрейм) содержится информация о наличии товара на складе:

In [19]:
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}

purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}

items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

Объедините получившиеся датафреймы по столбцу item_id с типом outer.

Определите, модель с каким item_id есть в статистике продаж purchase_df, но не учтена на складе (подсказка: подумайте, какой датафрейм должен быть "левым", а какой "правым", чтобы получить необходимые данные). Введите ответ в виде целого числа.

In [32]:
outer = purchase_df.merge(items_df, on = 'item_id', how = 'outer')
int(outer[(pd.isna(outer.stock_count))]['item_id'])

103845

Решите обратную задачу: модель с каким item_id есть на складе, но не имела ни одной продажи? Введите ответ в виде целого числа.

In [35]:
outer[(pd.isna(outer.purchase_id))]['item_id']

10    312394
Name: item_id, dtype: int64

Сформируйте датафрейм merged, в котором в результате объединения purchase_df и items_df останутся модели, которые учтены на складе и имели продажи. Сколько всего таких моделей?

In [40]:
len(purchase_df.merge(items_df, on = 'item_id').index)

9

Посчитайте объем выручки для каждой модели, которую можно получить, распродав все остатки на складе. Модель с каким item_id имеет максимальное значение выручки после распродажи остатков? Ответ дайте в виде целого числа.

Примечание: перемножение столбцов датафрейма можно производить разными способами, но самый простой - перемножение "в лоб" вида df['col1'] = df['col2'] * df['col3']. Для присоединения новых данных к датафрейму тоже можно использовать различные методы, включая функцию .append(), которая позволяет присоединять к датафрейму другой датафрейм, серии или словари.

In [62]:
df = purchase_df.merge(items_df, on = 'item_id')
df['total'] = df['price'] * df['stock_count']
display(df)

int(df[(df.total == df['total'].max())]['item_id'])

   purchase_id  item_id  price   vendor  stock_count    total
0          101   417283  13900  Samsung           54   750600
1          101   849734   5330       LG           33   175890
2          101   132223  38200    Apple          122  4660400
3          112   573943  49990    Apple           18   899820
4          121    19475   9890       LG          102  1008780
5          145  3294095  33000    Apple           43  1419000
6          145   382043  67500  Samsung           77  5197500
7          145   302948  34500  Samsung          143  4933500
8          221   100132  11400       LG           60   684000

382043

Посчитайте итоговую выручку из прошлого задания по всем моделям. Ответ дайте в виде целого числа.

In [63]:
df.sum()['total']

19729490

## 7.11 Объединяем выгрузки

In [1]:
import os

files = os.listdir('data')
files

['ratings_8.txt',
 'ratings_9.txt',
 'ratings_10.txt',
 'ratings_7.txt',
 'ratings_6.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_1.txt',
 'ratings_2.txt',
 'ratings_3.txt']



После чтения папки список файлов оказался следующим:

files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']

Создайте на основе списка files новый список data, в который поместите только файлы, содержащие в названии "txt".

In [6]:
import re

files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']

data = []

for i in files:
    if re.search('.txt$', i):
        tmp.append(i)

## Выгрузка из вложенных файлов

In [11]:
for root, dirs, files in os.walk('data'):
    print('root', root)
    print("\n")
    print('dirs', dirs)
    print("\n")
    print('files', files)
    print('\n\n')

root data


dirs []


files ['ratings_8.txt', 'ratings_9.txt', 'ratings_10.txt', 'ratings_7.txt', 'ratings_6.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_1.txt', 'ratings_2.txt', 'ratings_3.txt']

## Склеивание датафреймов

Напишите цикл, который собирает содержимое файлов папки data в единый датафрейм data.
Сколько строк в датафрейме data?

In [22]:
import os
import pandas as pd

files = os.listdir('data')
df_columns = ['userId', 'movieId', 'rating', 'timestamp']
data = pd.DataFrame(columns = df_columns)

for i in files:
    tmp = pd.read_csv(os.path.join('data', i), names = df_columns)
    data = pd.concat([data, tmp])
    
len(data.index)

100004

Сколько раз была выставлена низшая оценка 0.5 в наших рейтингах? Используйте файл ratings.csv.

In [15]:
import pandas as pd

ratings = pd.read_csv("ratings.csv")

int(ratings[ratings.rating == 0.5]['rating'].value_counts())

1370

Объедините датафреймы ratings и movies, используя параметр how='outer'.

In [20]:

ratings = pd.read_csv("ratings.csv")

movies = pd.read_csv("movies.csv")

len(ratings.merge(movies, on = 'movieId', how = 'outer').index)

100854

Найдите в датафрейме movies фильм с movieId=3456.

Какой у него год выпуска?

In [27]:
movies[movies.movieId == 3456]['title']

ratings[ratings.movieId == 3456]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []